@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?vjd4tw');
    src:    url('fonts/icomoon.eot?vjd4tw#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?vjd4tw') format('truetype'),
        url('fonts/icomoon.woff?vjd4tw') format('woff'),
        url('fonts/icomoon.svg?vjd4tw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-spinner6:before {
    content: "\e74e";
}
.icon-credit-card2:before {
    content: "\e900";
}
.icon-icones-personalizados_boleto:before {
    content: "\e901";
}
.icon-download:before {
    content: "\e902";
}
.icon-check-circle-o:before {
    content: "\e903";
}

.spin{
     -webkit-transform-origin: 50% 50%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
     -o-animation: spin 1s infinite linear;
     animation: spin 1s infinite linear;
}

.row-select-payment-methods {
    margin:0px;
    padding:20px;
    cursor: pointer;
}

.panel-gerencianet {
}

.icon-gerencianet {
    color: #666666;
}

.icon-gerencianet a, .icon-gerencianet a:hover {
    color: #666666;
    text-decoration: none;
}

.icon-gerencianet span{
    font-size: 26px;
}

.total-gerencianet {
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 8px;
}

.payment-option-gerencianet {
    font-size: 16px;
    color: #000;
}

.payment-option-gerencianet a {
    color: #000;
    text-decoration: none;
}

.payment-option-gerencianet a:hover {
    text-decoration: underline;
}

.payment-old-price-gerencianet {
    text-decoration:line-through;
    font-size: 14px;
}

.payment-installments-gerencianet {
    font-size: 14px;
}

.payment-discount-gerencianet {
    font-size: 14px;
}


.gn-card-brand-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.gn-visa{
    background:url(../gerencianet/images/sprite-gn.png);
    background-position:-40px 0;
}

.gn-mastercard{
    background-image:url(../gerencianet/images/sprite-gn.png);
    background-position:0px 0;
}

.gn-amex{
    background:url(../gerencianet/images/sprite-gn.png);
    background-position:-80px 0;
}

.gn-diners{
    background:url(../gerencianet/images/sprite-gn.png);
    background-position:-40px -40px;
}

.gn-discover{
    background:url(../gerencianet/images/sprite-gn.png);
    background-position: 0 -40px;
}

.gn-jcb{
    background:url(../gerencianet/images/sprite-gn.png);
    background-position:-160px 0;
}

.gn-elo{
    background:url(../gerencianet/images/sprite-gn.png);
    background-position:-80px -40px;
}
.gn-aura{
    background:url(../gerencianet/images/sprite-gn.png);
    background-position:-120px 0;
}

.gn-card-brand-selector input:active +.gn-card-brand{opacity: .9;}
.gn-card-brand-selector input:checked +.gn-card-brand{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-color: #F26424;
    border: 1px solid #C84D24;
}

.gn-card-brand{
    cursor:pointer;
    background-size: 200px 80px !important;
    background-repeat:no-repeat;
    display:inline-block;
    width:42px;height:42px;
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-filter: brightness(1) grayscale(1) opacity(1);
    -moz-filter: brightness(1) grayscale(1) opacity(1);
    filter: brightness(1) grayscale(1) opacity(1);
}

.gn-card-brand:hover{
    -webkit-filter: brightness(1) grayscale(0) opacity(1);
    -moz-filter: brightness(1) grayscale(0) opacity(1);
    filter: brightness(1) grayscale(0) opacity(1);

    background-color: #F26424;
}

.gn-card-brand-content {
    margin: 5px;
}

.gn-left-space-1 {
    margin-left: 10px;
}

.gn-left-space-2 {
    margin-left: 20px;
}

.gn-left-space-3 {
    margin-left: 30px;
}

.gn-left-space-4 {
    margin-left: 40px;
}

.gn-right-space-3 {
    margin-right: 30px;
}

.gn-icon-card-input {
    background:url(../gerencianet/images/sprite-gn.png);
    background-position:-120px -45px;
    background-size: 200px 80px !important;
    background-repeat:no-repeat;
    width:40px;height:30px;
}

.gn-cvv-info {
    padding: 1px 4px 1px 3px;
    border: 1px solid #00B4BE;
    font-size: 11px;
    line-height: 13px;
    height: 35px;
}

.gn-button-pay {
    font-size: 16px;
    line-height: 20px;
}

.gn-success-payment {
    border: 1px solid #CCCCCC;
    margin: 10px;
}

.gn-success-payment-inside-box {
    border: 1px solid #009718;
    margin: 25px;
}

.gn-title-emission {
    margin: 5px 3px 3px 20px;
    font-size: 18px;
    color: #000;
}

.gn-box-emission {
    margin-left: 10px;
    margin-top: 20px;
}

.gn-icon-emission-success {
    margin: 20px 10px 10px 20px;
    font-size: 45px;
    color: #009718;
}

.gn-success-content p {
    margin: 30px 0 0 0;
}

.gn-success-payment-billet-comments {
    margin: 15px 10px 0 10px;
    font-size: 16px;
    line-height: 22px;
}

.gn-success-payment-billet-comments p {
    margin: 10px 0 20px 0;
    font-size: 16px;
}

.gn-success-content-sub-tile {
    font-size: 16px;
    color: #000;
}

.gn-success-payment-button-icon {
    font-size: 25px;
    margin: -2px 5px -8px -2px;
    float: left;
}

.gn-button-divisor {
    background-color: #177C9A;
    height: 25px;
    width:1px;
    float: left;
    margin: -3px 10px -5px 10px;
}

.gn-loading-request {
    display: none;
}

.gn-hide {
    display: none;
}

.gn-accordion-initial {
    height: 0px;
}

.gn-accordion-option-background {
    background-color: #FFFFFF;
    cursor: pointer;
}

.gn-loading-request-row {
    margin-right: 15px;
}

.gn-loading-request-text {
    margin-top:8px; 
    margin-right: 15px;
}

.gn-loading-request-spin-box {
    width: 35px; 
    height:35px;
}

.gn-loading-request-spin-icon {
    font-size: 35px;
    margin-top: 0px;
    margin-left: 0px;
}

.gn-cnpj-row {
    margin-left: 15px;
}

.gn-minimum-size-field {
    min-width: 120px;
}

.gn-max-size-select {
    max-width: 350px;
}

.gn-initial-section {
    margin-top:30px;
}

.gn-section {
    margin-top:20px;
}

.gn-cursor-pointer {
    cursor: pointer;
}

.gn-card-number-icon-background {
    background-color: #CCC; 
    height: 34px; 
    width:40px; 
    margin-right:-16px; 
    padding:6px 12px 6px 8px; 
    float: left;
}

.gn-card-number-icon {
    font-size: 22px;
}

.gn-card-number-input-row {
    margin-left: 40px;
}

.gn-input-card-number {
    margin-left:-5px;
}

.gn-card-expiration-row {
    min-width:200px;
    overflow: auto;
}

.gn-card-expiration-select {
    width:80px; 
    float: left;
}

.gn-card-expiration-divisor {
    margin:5px; 
    float: left;
}

.gn-cvv-row {
    margin-right: 15px; 
    margin-bottom: 3px;
}

.gn-cvv-input {
    width: 80px;
}

.gn-align-center {
    text-align: center;
}

.gn-row{
    width:100%;
    height:auto;
    vertical-align: middle;
    overflow:hidden;
    margin:10px auto;
}

.gn-row-left {
    display: table-cell;
    vertical-align: middle;
    height:auto;
    width: 100%;
}

.gn-row-right {
    display: table-cell;
    vertical-align: middle;
    height:auto;
    width: auto;
}

.gn-left{
    display: table-cell;
    vertical-align: middle;
    height:auto;
    padding: 10px;
}

.gn-right{
    display: table-cell;
    vertical-align: middle;
    height:auto;
    padding: 10px;
}

.gn-row-payment-method {
    border: 1px solid #CCC;
}

.gn-form-label {
    width: 200px;
}

.form-group input[type='text'] {
    width: 100%;
}

.gn-form-select {
    width: 100%;
    max-width: 350px;
}

.gn-form {
    margin: 15px;
}

.gn-form .required label:before {
    content: '*';
    color: #F00;
    font-weight: bold;
}

.gn-form .gn-card-brand:before {
    content: none !important;
}


.gn-price-payment-selected {
    padding-right: 30px;
    padding-left: 50px;
    font-size: 20px;
}

.gn-price-payment-info {
    min-width: 150px;
    padding-left: 0;
}

.gn-label {
    height:30px;
    padding: 7px 15px 7px 0;
    text-align: right;
}

.gn-panel {
    background-color: #FFFFFF;
}


.clear {
    clear: both;
    overflow: hidden;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.gn-col-1, .gn-col-2, .gn-col-3, .gn-col-4, .gn-col-5, .gn-col-6,
.gn-col-7, .gn-col-8, .gn-col-9, .gn-col-10, .gn-col-11, .gn-col-12 {
   float: left;               
}

.gn-col-12 {
   width: 100%;
}

.gn-col-11 {
   width: 91.66666666666666%;
}

.gn-col-10 {
   width: 83.33333333333334%;
}

.gn-col-9 {
    width: 75%;
}

.gn-col-8 {
    width: 66.66666666666666%;
}

.gn-col-7 {
    width: 58.333333333333336%;
}

.gn-col-6 {
    width: 50%;
}

.gn-col-5 {
    width: 41.66666666666667%;
}

.gn-col-4 {
    width: 33.33333333333333%;
}

.gn-col-3 {
    width: 25%;
}

.gn-col-2 {
      width: 16.666666666666664%;
}

.gn-col-1 {
      width: 8.333333333333332%;
}  

@media only screen and (max-width: 992px) {
    .gn-row-left, .gn-row-right {
        display: block;
        width: 100%;
    }

    .gn-left{
        float: left;
        display: inline-block;
    }
    .gn-right{
        float: right;
        display: inline-block;
    }

    .gn-col-1, .gn-col-2, .gn-col-3, .gn-col-4, .gn-col-5, .gn-col-6,
    .gn-col-7, .gn-col-8, .gn-col-9, .gn-col-10, .gn-col-11, .gn-col-12 {
       float: none;
       width: 100%;
       display: block;               
    }

    .gn-left-space-2 {
        margin-left: 0;
    }

    .gn-label {
        height:30px;
        padding: 15px 0 0 0;
        text-align: left;
    }
}




/** Key Frames **/

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}